Repository MetaMask/metamask-extension, pull requests merged in 2020-11, with the labels that each got.

#9599 Switch gas price estimation in swaps to metaswap-api /gasPrices
  ui/app/components/app/gas-customization/gas-modal-page-container/advanced-tab-content/advanced-tab-content.component.js
  ui/app/components/app/gas-customization/gas-modal-page-container/advanced-tab-content/tests/advanced-tab-content-component.test.js
  ui/app/components/app/gas-customization/gas-modal-page-container/gas-modal-page-container.component.js
  ui/app/components/app/gas-customization/gas-modal-page-container/gas-modal-page-container.container.js
  ui/app/components/app/gas-customization/gas-modal-page-container/tests/gas-modal-page-container-component.test.js
  ui/app/components/app/gas-customization/gas-modal-page-container/tests/gas-modal-page-container-container.test.js
  ui/app/components/app/gas-customization/gas-price-button-group/gas-price-button-group.component.js
  ui/app/components/app/gas-customization/gas-price-button-group/tests/gas-price-button-group-component.test.js
  ui/app/components/app/modals/modal.js
  ui/app/ducks/swaps/swaps.js
  ui/app/pages/swaps/awaiting-swap/awaiting-swap.js
  ui/app/pages/swaps/index.js
  ui/app/pages/swaps/swaps-gas-customization-modal/index.js
  ui/app/pages/swaps/swaps-gas-customization-modal/swaps-gas-customization-modal.component.js
  ui/app/pages/swaps/swaps-gas-customization-modal/swaps-gas-customization-modal.container.js
  ui/app/pages/swaps/swaps.util.js
  ui/app/pages/swaps/view-quote/view-quote.js
  ui/app/selectors/custom-gas.js
  ui/app/selectors/tests/custom-gas.test.js
  ui/app/store/actions.js
Labels: swaps

#9518 Make all UI tabs accessible via keyboard
  test/e2e/metamask-ui.spec.js
  ui/app/components/app/asset-list-item/asset-list-item.js
  ui/app/components/app/asset-list-item/asset-list-item.scss
  ui/app/components/app/confirm-page-container/confirm-page-container-content/index.scss
  ui/app/components/app/gas-customization/gas-modal-page-container/index.scss
  ui/app/components/app/selected-account/index.scss
  ui/app/components/app/selected-account/selected-account.component.js
  ui/app/components/app/tab-bar/index.scss
  ui/app/components/app/tab-bar/tab-bar.js
  ui/app/components/ui/list-item/index.scss
  ui/app/components/ui/list-item/list-item.component.js
  ui/app/components/ui/tabs/tab/index.scss
  ui/app/components/ui/tabs/tab/tab.component.js
  ui/app/pages/add-token/token-list/index.scss
  ui/app/pages/add-token/token-list/token-list.component.js
  ui/app/pages/home/index.scss
Labels: design feedback

#9675 Alternative savings fix
  app/scripts/controllers/swaps.js
  test/unit/app/controllers/swaps-test.js
Labels: swaps

#9837 Fix tradeValue assignment and reference in view-quote.js
  ui/app/pages/swaps/view-quote/view-quote.js
Labels: swaps

#9727 Fix gas_fees properties collected for swaps analytics events
  app/scripts/metamask-controller.js
  ui/app/components/app/gas-customization/gas-modal-page-container/tests/gas-modal-page-container-container.test.js
  ui/app/ducks/swaps/swaps.js
  ui/app/helpers/utils/conversions.util.js
  ui/app/pages/swaps/awaiting-swap/awaiting-swap.js
  ui/app/pages/swaps/swaps-gas-customization-modal/swaps-gas-customization-modal.component.js
  ui/app/pages/swaps/swaps-gas-customization-modal/swaps-gas-customization-modal.container.js
  ui/app/selectors/selectors.js
Labels: swaps

#9600 Add a minimumGasLimit to the gas customization modal in swaps
  ui/app/pages/swaps/swaps-gas-customization-modal/swaps-gas-customization-modal.component.js
  ui/app/pages/swaps/swaps-gas-customization-modal/swaps-gas-customization-modal.container.js
  ui/app/pages/swaps/view-quote/view-quote.js
Labels: swaps

#9629 Update fee card designs to show savings and MM fee
  app/_locales/en/messages.json
  ui/app/pages/swaps/fee-card/fee-card.js
  ui/app/pages/swaps/fee-card/fee-card.stories.js
  ui/app/pages/swaps/fee-card/index.scss
  ui/app/pages/swaps/fee-card/pig-icon.js
  ui/app/pages/swaps/main-quote-summary/index.scss
  ui/app/pages/swaps/swaps-footer/swaps-footer.js
  ui/app/pages/swaps/view-quote/index.scss
  ui/app/pages/swaps/view-quote/view-quote.js
Labels: swaps

#9891 Add token verification message to swaps build quote screen
  app/_locales/en/messages.json
  ui/app/pages/swaps/build-quote/build-quote.js
  ui/app/pages/swaps/build-quote/index.scss
Labels: v8.1.5
