Repository MetaMask/metamask-extension, pull requests merged in 2025-10, with the labels that each got.

#36457 chore: bump `@metamask/multichain-account-service` to `^1.4.0`
  package.json
  yarn.lock
Labels: size-XS, team-accounts

#36420 feat: Update reveal, review and confirm srp settings header - PR 2
  app/_locales/en/messages.json
  app/_locales/en_GB/messages.json
  ui/pages/onboarding-flow/recovery-phrase/__snapshots__/review-recovery-phrase.test.js.snap
  ui/pages/onboarding-flow/recovery-phrase/confirm-recovery-phrase.js
  ui/pages/onboarding-flow/recovery-phrase/confirm-recovery-phrase.test.js
  ui/pages/onboarding-flow/recovery-phrase/reveal-recovery-phrase.tsx
  ui/pages/onboarding-flow/recovery-phrase/review-recovery-phrase.js
  ui/pages/onboarding-flow/recovery-phrase/review-recovery-phrase.test.js
  ui/pages/settings/security-tab/__snapshots__/security-tab.test.js.snap
Labels: area-onboarding, QA Passed, team-web3auth, size-M

#36418 fix: Polish Send/Review page
  test/e2e/page-objects/pages/confirmations/redesign/transaction-confirmation.ts
  ui/components/app/confirm/info/row/__snapshots__/row.test.tsx.snap
  ui/components/app/confirm/info/row/__snapshots__/section.test.tsx.snap
  ui/components/app/confirm/info/row/row.tsx
  ui/components/app/confirm/info/row/section.tsx
  ui/components/app/name/index.scss
  ui/components/app/name/name-details/__snapshots__/name-details.test.tsx.snap
  ui/components/app/name/name-details/name-display.tsx
  ui/pages/confirmations/components/confirm/header/__snapshots__/dapp-initiated-header.test.tsx.snap
  ui/pages/confirmations/components/confirm/header/__snapshots__/header.test.tsx.snap
  ui/pages/confirmations/components/confirm/header/__snapshots__/wallet-initiated-header.test.tsx.snap
  ui/pages/confirmations/components/confirm/header/dapp-initiated-header.tsx
  ui/pages/confirmations/components/confirm/header/wallet-initiated-header.tsx
  ui/pages/confirmations/components/confirm/info/__snapshots__/info.test.tsx.snap
  ui/pages/confirmations/components/confirm/info/approve/__snapshots__/approve.test.tsx.snap
  ui/pages/confirmations/components/confirm/info/approve/approve-details/__snapshots__/approve-details.test.tsx.snap
  ui/pages/confirmations/components/confirm/info/approve/approve-static-simulation/__snapshots__/approve-static-simulation.test.tsx.snap
  ui/pages/confirmations/components/confirm/info/base-transaction-info/__snapshots__/base-transaction-info.test.tsx.snap
  ui/pages/confirmations/components/confirm/info/native-transfer/__snapshots__/native-transfer.test.tsx.snap
  ui/pages/confirmations/components/confirm/info/nft-token-transfer/__snapshots__/nft-token-transfer.test.tsx.snap
  ui/pages/confirmations/components/confirm/info/personal-sign/__snapshots__/personal-sign.test.tsx.snap
  ui/pages/confirmations/components/confirm/info/personal-sign/siwe-sign/__snapshots__/siwe-sign.test.tsx.snap
  ui/pages/confirmations/components/confirm/info/set-approval-for-all-info/__snapshots__/set-approval-for-all-info.test.tsx.snap
  ui/pages/confirmations/components/confirm/info/set-approval-for-all-info/revoke-set-approval-for-all-static-simulation/__snapshots__/revoke-set-approval-for-all-static-simulation.test.tsx.snap
  ui/pages/confirmations/components/confirm/info/set-approval-for-all-info/set-approval-for-all-static-simulation/__snapshots__/set-approval-for-all-static-simulation.test.tsx.snap
  ui/pages/confirmations/components/confirm/info/shared/advanced-details/__snapshots__/advanced-details.test.tsx.snap
  ui/pages/confirmations/components/confirm/info/shared/edit-gas-fees-row/__snapshots__/edit-gas-fees-row.test.tsx.snap
  ui/pages/confirmations/components/confirm/info/shared/edit-gas-fees-row/edit-gas-fees-row.tsx
  ui/pages/confirmations/components/confirm/info/shared/gas-fee-token-toast/index.scss
  ui/pages/confirmations/components/confirm/info/shared/gas-fees-row/__snapshots__/gas-fees-row.test.tsx.snap
  ui/pages/confirmations/components/confirm/info/shared/gas-fees-section/__snapshots__/gas-fees-section.test.tsx.snap
  ui/pages/confirmations/components/confirm/info/shared/network-row/network-row.tsx
  ui/pages/confirmations/components/confirm/info/shared/selected-gas-fee-token/selected-gas-fee-token.tsx
  ui/pages/confirmations/components/confirm/info/shared/send-heading/__snapshots__/send-heading.test.tsx.snap
  ui/pages/confirmations/components/confirm/info/shared/send-heading/send-heading.tsx
  ui/pages/confirmations/components/confirm/info/shared/transaction-data/__snapshots__/transaction-data.test.tsx.snap
  ui/pages/confirmations/components/confirm/info/shared/transaction-details/__snapshots__/transaction-details.test.tsx.snap
  ui/pages/confirmations/components/confirm/info/token-transfer/__snapshots__/token-details-section.test.tsx.snap
  ui/pages/confirmations/components/confirm/info/token-transfer/__snapshots__/token-transfer.test.tsx.snap
  ui/pages/confirmations/components/confirm/info/token-transfer/__snapshots__/transaction-flow-section.test.tsx.snap
  ui/pages/confirmations/components/confirm/info/token-transfer/transaction-flow-section.tsx
  ui/pages/confirmations/components/confirm/info/typed-sign-v1/__snapshots__/typed-sign-v1.test.tsx.snap
  ui/pages/confirmations/components/confirm/info/typed-sign/__snapshots__/typed-sign-permission.test.tsx.snap
  ui/pages/confirmations/components/confirm/info/typed-sign/__snapshots__/typed-sign.test.tsx.snap
  ui/pages/confirmations/components/confirm/info/typed-sign/typed-sign-v4-simulation/permit-simulation/__snapshots__/permit-simulation.test.tsx.snap
  ui/pages/confirmations/components/confirm/nav/__snapshots__/nav.test.tsx.snap
  ui/pages/confirmations/components/confirm/nav/nav.tsx
  ui/pages/confirmations/components/confirm/scroll-to-bottom/scroll-to-bottom.tsx
  ui/pages/confirmations/components/gas-timing/gas-timing.component.js
  ui/pages/confirmations/components/simulation-details/simulation-details.tsx
  ui/pages/confirmations/confirm/__snapshots__/confirm.test.tsx.snap
  ui/pages/confirmations/confirmation/templates/__snapshots__/create-named-snap-account.test.js.snap
  ui/pages/confirmations/send/send-inner.tsx
Labels: team-design-system, team-assets, size-S

#36389 chore: add Monad ecosystem page discover button
  shared/constants/network.ts
  ui/components/multichain/network-manager/components/custom-networks/custom-networks.tsx
Labels: QA Passed, team-network-enablement, size-XS

#36496 test: fix flaky test Metrics Sends a contract interaction type 2 transaction (EIP1559)
  test/e2e/tests/confirmations/transactions/metrics.spec.ts
Labels: e2e-test, flaky tests, team-qa, no-changelog, size-XS

#36461 fix(account-tree-controller): re-use computed names for groups
  package.json
  test/e2e/tests/multichain-accounts/multichain-account-list-page.spec.ts
  yarn.lock
Labels: size-XS, team-accounts

#35888 fix: flaky ledger e2e tests
  test/e2e/page-objects/pages/swap/swap-page.ts
  test/e2e/tests/hardware-wallets/ledger/ledger-swap.spec.ts
  test/e2e/tests/hardware-wallets/ledger/mocks.ts
Labels: team-accounts-framework, team-hardware-wallets, flaky tests, no-changelog, size-S

#36259 feat: Notify users about degraded and unavailable networks
  .storybook/test-data.js
  app/_locales/en/messages.json
  app/_locales/en_GB/messages.json
  app/scripts/controller-init/network-controller-init.ts
  app/scripts/controllers/app-state-controller.test.ts
  app/scripts/controllers/app-state-controller.ts
  app/scripts/lib/network-controller/messenger-action-handlers.test.ts
  app/scripts/lib/network-controller/messenger-action-handlers.ts
  app/scripts/lib/network-controller/utils.test.ts
  app/scripts/lib/network-controller/utils.ts
  app/scripts/metamask-controller.js
  shared/constants/app-state.ts
  shared/constants/metametrics.ts
  shared/lib/network-utils.test.ts
  shared/lib/network-utils.ts
  shared/types/background.ts
  test/data/mock-state.json
  test/e2e/tests/metrics/state-snapshots/errors-after-init-opt-in-background-state.json
  test/e2e/tests/metrics/state-snapshots/errors-after-init-opt-in-ui-state.json
  test/integration/data/integration-init-state.json
  test/lib/render-helpers.js
  ui/components/app/network-connection-banner/index.ts
  ui/components/app/network-connection-banner/network-connection-banner.test.tsx
  ui/components/app/network-connection-banner/network-connection-banner.tsx
  ui/components/multichain/account-overview/account-overview-eth.test.tsx
  ui/components/multichain/account-overview/account-overview-layout.tsx
  ui/components/multichain/account-overview/account-overview-non-evm.test.tsx
  ui/hooks/useNetworkConnectionBanner.test.ts
  ui/hooks/useNetworkConnectionBanner.ts
  ui/selectors/multichain/networks.test.ts
  ui/selectors/multichain/networks.ts
  ui/selectors/selectors.js
  ui/store/actions.ts
Labels: size-XL, team-core-platform

#36489 fix: send > assets list number formatting
  ui/pages/confirmations/components/UI/asset/asset.test.tsx
  ui/pages/confirmations/components/UI/asset/asset.tsx
  ui/pages/confirmations/components/confirm/utils.ts
  ui/pages/confirmations/hooks/send/useSendTokens.test.ts
  ui/pages/confirmations/hooks/send/useSendTokens.ts
  ui/pages/confirmations/types/send.ts
Labels: team-core-extension-ux, size-M

#36521 feat: enable ledger swap e2e tests
  test/e2e/tests/hardware-wallets/ledger/ledger-swap.spec.ts
Labels: e2e-test, size-XS, team-accounts

#36528 fix: Fix send flow metrics
  shared/constants/metametrics.ts
  test/data/send/assets.ts
  ui/components/app/wallet-overview/coin-buttons.tsx
  ui/components/app/wallet-overview/eth-overview.test.js
  ui/components/app/wallet-overview/non-evm-overview.test.tsx
  ui/pages/confirmations/components/send/amount-recipient/amount-recipient.test.tsx
  ui/pages/confirmations/components/send/amount-recipient/amount-recipient.tsx
  ui/pages/confirmations/components/send/recipient-input/recipient-input.test.tsx
  ui/pages/confirmations/components/send/recipient-input/recipient-input.tsx
  ui/pages/confirmations/components/send/recipient/recipient.test.tsx
  ui/pages/confirmations/components/send/recipient/recipient.tsx
  ui/pages/confirmations/hooks/send/metrics/useAssetSelectionMetrics.test.tsx
  ui/pages/confirmations/hooks/send/metrics/useAssetSelectionMetrics.ts
  ui/pages/confirmations/hooks/send/metrics/useRecipientSelectionMetrics.test.tsx
  ui/pages/confirmations/hooks/send/metrics/useRecipientSelectionMetrics.ts
  ui/pages/confirmations/hooks/send/useContactRecipients.test.ts
  ui/pages/confirmations/hooks/send/useContactRecipients.ts
  ui/pages/confirmations/hooks/send/useRecipients.ts
  ui/pages/confirmations/hooks/send/useSendQueryParams.ts
Labels: team-confirmations, no-changelog, size-M

#36502 fix: Update spacing for includes fee text
  ui/pages/confirmations/components/confirm/info/__snapshots__/info.test.tsx.snap
  ui/pages/confirmations/components/confirm/info/approve/__snapshots__/approve.test.tsx.snap
  ui/pages/confirmations/components/confirm/info/base-transaction-info/__snapshots__/base-transaction-info.test.tsx.snap
  ui/pages/confirmations/components/confirm/info/native-transfer/__snapshots__/native-transfer.test.tsx.snap
  ui/pages/confirmations/components/confirm/info/nft-token-transfer/__snapshots__/nft-token-transfer.test.tsx.snap
  ui/pages/confirmations/components/confirm/info/set-approval-for-all-info/__snapshots__/set-approval-for-all-info.test.tsx.snap
  ui/pages/confirmations/components/confirm/info/shared/edit-gas-fees-row/__snapshots__/edit-gas-fees-row.test.tsx.snap
  ui/pages/confirmations/components/confirm/info/shared/edit-gas-fees-row/edit-gas-fees-row.tsx
  ui/pages/confirmations/components/confirm/info/shared/gas-fees-section/__snapshots__/gas-fees-section.test.tsx.snap
  ui/pages/confirmations/components/confirm/info/token-transfer/__snapshots__/token-transfer.test.tsx.snap
Labels: team-assets, size-S

#36482 fix: Polish UI for Activity tab
  ui/components/app/transaction-list-item/smart-transaction-list-item.component.js
  ui/components/app/transaction-list-item/transaction-list-item.component.js
  ui/components/app/transaction-list/__snapshots__/transaction-list.test.js.snap
  ui/components/app/transaction-list/transaction-list.component.js
  ui/components/app/transaction-list/unified-transaction-list.component.js
  ui/components/multichain/activity-list-item/__snapshots__/activity-list-item.test.js.snap
  ui/components/multichain/activity-list-item/activity-list-item.js
  ui/components/multichain/activity-list-item/index.scss
Labels: team-design-system, team-assets, size-S

#36530 fix(multichain-accounts): use Basic Functionnality alignment trigger
  app/scripts/controller-init/multichain/multichain-account-service-init.ts
Labels: size-XS, team-accounts

#36537 test: Fix bip44 failures
  test/e2e/tests/metrics/state-snapshots/errors-after-init-opt-in-background-state.json
Labels: team-qa, size-M

#36509 test: add cursor rules for extension E2E testing
  test/e2e/.cursor/rules/e2e-testing-guidelines.mdc
Labels: e2e-test, team-qa, no-changelog, size-M

#36534 chore: remove deprecated TextColor.textAlternativeSoft
  ui/helpers/constants/design-system.ts
  ui/pages/bridge/__snapshots__/index.test.tsx.snap
  ui/pages/bridge/index.scss
  ui/pages/bridge/prepare/__snapshots__/bridge-cta-button.test.tsx.snap
  ui/pages/bridge/prepare/__snapshots__/prepare-bridge-page.test.tsx.snap
  ui/pages/bridge/prepare/bridge-cta-button.tsx
  ui/pages/bridge/prepare/bridge-cta-info-text.tsx
  ui/pages/bridge/prepare/bridge-input-group.tsx
  ui/pages/bridge/prepare/bridge-no-fee-message.tsx
  ui/pages/bridge/prepare/components/__snapshots__/destination-account-picker-modal.test.tsx.snap
  ui/pages/bridge/prepare/components/destination-account-list-item.tsx
  ui/pages/bridge/prepare/prepare-bridge-page.tsx
  ui/pages/bridge/quotes/__snapshots__/bridge-quotes-modal.test.tsx.snap
  ui/pages/bridge/quotes/__snapshots__/multichain-bridge-quote-card.test.tsx.snap
  ui/pages/bridge/quotes/bridge-quotes-modal.tsx
  ui/pages/confirmations/components/modals/simulation-settings-modal/simulation-settings-modal.tsx
  ui/pages/confirmations/components/transactions/nested-transaction-tag/nested-transaction-tag.tsx
  ui/pages/defi/components/__snapshots__/defi-details-list.test.tsx.snap
  ui/pages/defi/components/__snapshots__/defi-details-page.test.tsx.snap
  ui/pages/defi/components/defi-details-list.tsx
  ui/pages/defi/components/defi-details-page.tsx
  ui/pages/settings/transaction-shield-tab/transaction-shield.tsx
Labels: team-design-system, no-changelog, size-S

#36535 ci: INFRA-2999-Fixes for create release workflows
  .github/scripts/resolve-previous-ref.sh
Labels: team-dev-ops, no-changelog, size-S, skip-e2e

#36531 feat: update pk reveal with link to support page
  app/_locales/en/messages.json
  app/_locales/en_GB/messages.json
  ui/helpers/constants/zendesk-url.js
  ui/pages/multichain-accounts/multichain-account-private-key-list-page/multichain-account-private-key-list-page.tsx
Labels: size-S, team-accounts

#36544 chore: deprecate Box
  ui/components/component-library/box/box.tsx
Labels: team-core-extension-ux, size-XS

#36438 fix: remove network restriction from Swap buttons to set correct default quoteRequest params
  shared/constants/bridge.ts
  test/data/bridge/mock-bridge-store.ts
  test/e2e/flask/create-watch-account.spec.ts
  test/e2e/page-objects/pages/home/homepage.ts
  test/e2e/tests/bridge/bridge-negative-cases.spec.ts
  test/e2e/tests/bridge/bridge-positive-cases.spec.ts
  test/e2e/tests/bridge/bridge-test-utils.ts
  test/e2e/tests/bridge/constants.ts
  test/e2e/tests/hardware-wallets/ledger/ledger-swap.spec.ts
  test/e2e/tests/metrics/bridge.spec.ts
  test/e2e/tests/solana/send-flow.spec.ts
  test/e2e/user-actions-benchmark.ts
  ui/components/app/wallet-overview/coin-buttons.tsx
  ui/components/app/wallet-overview/eth-overview.test.js
  ui/components/multichain-accounts/multichain-address-row/multichain-address-row.test.tsx
  ui/components/multichain-accounts/multichain-address-rows-list/multichain-address-rows-list.test.tsx
  ui/ducks/bridge/selectors.ts
  ui/hooks/bridge/useBridgeQueryParams.ts
  ui/hooks/bridge/useBridging.test.ts
  ui/hooks/bridge/useBridging.ts
  ui/pages/asset/components/__snapshots__/asset-page.test.tsx.snap
  ui/pages/asset/components/asset-page.test.tsx
  ui/pages/asset/components/token-buttons.tsx
  ui/selectors/selectors.js
Labels: team-swaps-and-bridge, size-M

#36546 fix: Update carousel image size to 72px to match designs
  ui/components/multichain/carousel/constants.ts
  ui/components/multichain/carousel/index.scss
Labels: team-assets, size-S

#36545 Test/fix bip44 failure1
  test/e2e/page-objects/pages/account-list-page.ts
  test/e2e/page-objects/pages/multichain-account-details-page.ts
  test/e2e/tests/vault-corruption/vault-corruption.spec.ts
Labels: team-qa, size-S

#36553 fix: preferences controller merging cp-13.5.0
  app/scripts/controllers/preferences-controller.test.ts
  app/scripts/controllers/preferences-controller.ts
  test/e2e/tests/metrics/state-snapshots/errors-after-init-opt-in-background-state.json
  test/e2e/tests/metrics/state-snapshots/errors-after-init-opt-in-ui-state.json
Labels: team-core-extension-ux, size-S, release-13.5.0

#36538 chore: remove deprecated IconColor.iconAlternativeSoft
  ui/helpers/constants/design-system.ts
  ui/pages/bridge/index.scss
  ui/pages/confirmations/components/confirm/info/shared/gas-fee-token-modal/gas-fee-token-modal.tsx
  ui/pages/settings/transaction-shield-tab/transaction-shield.tsx
Labels: team-design-system, no-changelog, size-S

#36555 fix(sign off list): remove legacy list of teams
  .github/workflows/create-release-pr.yml
Labels: team-extension-platform, extension-delivery, size-XS

#36523 fix: UI review updates cp-13.6.0
  app/_locales/en/messages.json
  app/_locales/en_GB/messages.json
  ui/components/app/password-form/password-form.tsx
  ui/pages/onboarding-flow/create-password/__snapshots__/create-password.test.js.snap
  ui/pages/onboarding-flow/onboarding-app-header/__snapshots__/onboarding-app-header.test.js.snap
  ui/pages/onboarding-flow/onboarding-app-header/onboarding-app-header.js
  ui/pages/onboarding-flow/recovery-phrase/__snapshots__/review-recovery-phrase.test.js.snap
  ui/pages/onboarding-flow/recovery-phrase/confirm-recovery-phrase.js
  ui/pages/onboarding-flow/recovery-phrase/review-recovery-phrase.js
Labels: area-onboarding, QA Passed, team-web3auth, size-S

#36495 feat: add shield id to support url
  ui/components/app/modals/visit-support-data-consent-modal/visit-support-data-consent-modal.tsx
  ui/components/app/modals/visit-support-data-consent-modal/visit-support-data.test.tsx
  ui/pages/error-page/error-component.test.tsx
Labels: team-web3auth, size-S, area-shield

#36494 fix: shield allowed tokens approve amount
  ui/hooks/subscription/useSubscriptionPricing.ts
  ui/pages/settings/transaction-shield-tab/transaction-shield.tsx
  ui/store/actions.ts
Labels: team-web3auth, size-S, area-shield

#36602 fix: error message displayed while sending tokens to a contract address
  app/_locales/en/messages.json
  app/_locales/en_GB/messages.json
  ui/pages/confirmations/utils/sendValidations.test.ts
  ui/pages/confirmations/utils/sendValidations.ts
Labels: team-confirmations, no-changelog, size-XS

#36601 test: fix flaky test `Speed Up and Cancel Transaction Tests Speed up transaction Successfully speeds up a pending transaction`
  test/e2e/page-objects/pages/home/activity-list.ts
  test/e2e/tests/confirmations/transactions/speed-up-and-cancel-confirmations.spec.ts
Labels: flaky tests, team-qa, no-changelog, size-S

#36529 fix: cp-13.5.0 in code to check send flag
  test/e2e/constants.ts
  test/e2e/flask/user-operations.spec.ts
  test/e2e/mock-e2e.js
  test/e2e/snaps/test-snap-namelookup.spec.ts
  test/e2e/tests/confirmations/helpers.ts
  test/e2e/tests/metrics/state-snapshots/errors-after-init-opt-in-background-state.json
  test/e2e/tests/metrics/state-snapshots/errors-after-init-opt-in-ui-state.json
  test/e2e/tests/transaction/incoming-transactions.spec.ts
  ui/components/app/assets/nfts/nft-details/nft-details.test.js
  ui/pages/confirmations/hooks/useRedesignedSendFlow.test.ts
  ui/pages/confirmations/hooks/useRedesignedSendFlow.ts
  ui/pages/confirmations/send/send.tsx
  ui/pages/routes/routes.component.tsx
Labels: team-confirmations, no-changelog, size-M

#36613 chore: Bump Snaps packages
  app/scripts/background.js
  app/scripts/controller-init/snaps/snap-controller-init.test.ts
  app/scripts/controller-init/snaps/snap-controller-init.ts
  builds.yml
  lavamoat/browserify/beta/policy.json
  lavamoat/browserify/experimental/policy.json
  lavamoat/browserify/flask/policy.json
  lavamoat/browserify/main/policy.json
  lavamoat/webpack/policy.json
  package.json
  yarn.lock
Labels: INVALID-PR-TEMPLATE, size-S, team-core-platform

#36612 fix: cp-13.5.0 prevent wrongly format balance from being passed
  ui/pages/asset/components/token-asset.tsx
Labels: team-assets, size-S

#36580 fix: cp-13.5.0 updates the default pair constant to contain the correct decimals
  shared/constants/bridge.ts
  ui/ducks/bridge/selectors.test.ts
Labels: team-swaps-and-bridge, size-XS

#36621 docs(changelog): initialize changelog
  CHANGELOG.md
Labels: team-extension-platform, extension-delivery

#36541 chore: remove deprecated BackgroundColor.backgroundAlternativeSoft
  ui/helpers/constants/design-system.ts
  ui/pages/bridge/index.scss
Labels: team-design-system, size-S

#36576 feat: Add shield subscription token approval confirmation
  app/_locales/en/messages.json
  app/_locales/en_GB/messages.json
  package.json
  shared/lib/confirmation.utils.ts
  ui/hooks/subscription/useSubscriptionPricing.ts
  ui/pages/confirmations/components/confirm/header/advanced-details-button.tsx
  ui/pages/confirmations/components/confirm/header/header.test.tsx
  ui/pages/confirmations/components/confirm/header/header.tsx
  ui/pages/confirmations/components/confirm/header/wallet-initiated-header.test.tsx
  ui/pages/confirmations/components/confirm/header/wallet-initiated-header.tsx
  ui/pages/confirmations/components/confirm/info/info.tsx
  ui/pages/confirmations/components/confirm/info/shield-subscription-approve/account-details.test.tsx
  ui/pages/confirmations/components/confirm/info/shield-subscription-approve/account-details.tsx
  ui/pages/confirmations/components/confirm/info/shield-subscription-approve/estimated-changes.test.tsx
  ui/pages/confirmations/components/confirm/info/shield-subscription-approve/estimated-changes.tsx
  ui/pages/confirmations/components/confirm/info/shield-subscription-approve/shield-subscription-approve-loader.tsx
  ui/pages/confirmations/components/confirm/info/shield-subscription-approve/shield-subscription-approve.test.tsx
  ui/pages/confirmations/components/confirm/info/shield-subscription-approve/shield-subscription-approve.tsx
  ui/pages/confirmations/components/confirm/info/shield-subscription-approve/subscription-details.test.tsx
  ui/pages/confirmations/components/confirm/info/shield-subscription-approve/subscription-details.tsx
  ui/pages/confirmations/send-legacy/send.constants.js
  ui/pages/confirmations/send-legacy/send.utils.js
  ui/pages/confirmations/send-legacy/send.utils.test.js
  ui/pages/shield-plan/shield-payment-modal.test.tsx
  ui/pages/shield-plan/shield-plan.tsx
  yarn.lock
Labels: team-confirmations, no-changelog, size-L

#36638 fix: remove conditional Swap/Bridge routing cp-13.5.0
  app/_locales/de/messages.json
  app/_locales/el/messages.json
  app/_locales/en/messages.json
  app/_locales/en_GB/messages.json
  app/_locales/es/messages.json
  app/_locales/fr/messages.json
  app/_locales/hi/messages.json
  app/_locales/id/messages.json
  app/_locales/ja/messages.json
  app/_locales/ko/messages.json
  app/_locales/pt/messages.json
  app/_locales/ru/messages.json
  app/_locales/tl/messages.json
  app/_locales/tr/messages.json
  app/_locales/vi/messages.json
  app/_locales/zh_CN/messages.json
  shared/lib/deep-links/routes/swap.ts
  test/e2e/page-objects/pages/home/homepage.ts
  test/e2e/page-objects/pages/home/non-evm-homepage.ts
  test/e2e/playwright/shared/pageObjects/wallet-page.ts
  test/e2e/tests/swaps/shared.ts
  test/integration/swaps/swaps-alerts.test.tsx
  ui/components/app/transaction-activity-empty-state/transaction-activity-empty-state.test.tsx
  ui/components/app/transaction-activity-empty-state/transaction-activity-empty-state.tsx
  ui/components/app/wallet-overview/coin-buttons.tsx
  ui/components/app/wallet-overview/eth-overview.test.js
  ui/components/app/wallet-overview/non-evm-overview.test.tsx
  ui/ducks/bridge/selectors.ts
  ui/hooks/bridge/useBridging.test.ts
  ui/hooks/bridge/useBridging.ts
  ui/hooks/bridge/useIsTxSubmittable.ts
  ui/pages/asset/components/__snapshots__/asset-page.test.tsx.snap
  ui/pages/asset/components/asset-page.test.tsx
  ui/pages/asset/components/token-buttons.tsx
  ui/pages/bridge/__snapshots__/index.test.tsx.snap
  ui/pages/bridge/hooks/useIsMultichainSwap.test.tsx
  ui/pages/bridge/hooks/useIsMultichainSwap.tsx
  ui/pages/bridge/index.test.tsx
  ui/pages/bridge/index.tsx
  ui/pages/bridge/prepare/bridge-input-group.tsx
  ui/pages/bridge/prepare/prepare-bridge-page.tsx
  ui/pages/swaps/index.js
Labels: team-swaps-and-bridge, size-L

#36610 feat: shield handle crypto payment failure
  app/_locales/en/messages.json
  app/_locales/en_GB/messages.json
  app/scripts/metamask-controller.js
  app/scripts/services/subscription/subscription-service.ts
  ui/pages/settings/transaction-shield-tab/transaction-shield.tsx
  ui/store/actions.ts
Labels: team-web3auth, size-M, area-shield

#36671 fix e2e test in User Operations spec
  test/e2e/flask/user-operations.spec.ts
Labels: team-confirmations, size-S

#36684 release: chore/13.4.2-Changelog
  CHANGELOG.md
Labels: team-extension-platform, extension-delivery

#36510 feat: enable bitcoin bip44
  app/scripts/controller-init/multichain/multichain-account-service-init.test.ts
  app/scripts/controller-init/multichain/multichain-account-service-init.ts
  package.json
  privacy-snapshot.json
  test/e2e/flask/btc/mocks/esplora.ts
  yarn.lock
Labels: team-new-networks, size-M

#36516 test: clean up confirmations integration tests
  test/integration/config/setup.js
  test/integration/confirmations/signatures/permit-batch.test.tsx
  test/integration/confirmations/signatures/permit-seaport.test.tsx
  test/integration/confirmations/signatures/permit-single.test.tsx
  test/integration/confirmations/signatures/permit-tradeOrder.test.tsx
  test/integration/confirmations/signatures/permit.test.tsx
  test/integration/confirmations/signatures/personalSign.test.tsx
  test/integration/confirmations/transactions/alerts.test.tsx
  test/integration/confirmations/transactions/contract-deployment.test.tsx
  test/integration/confirmations/transactions/contract-interaction.test.tsx
  test/integration/confirmations/transactions/erc20-approve.test.tsx
  test/integration/confirmations/transactions/erc721-approve.test.tsx
  test/integration/confirmations/transactions/increase-allowance.test.tsx
  test/integration/confirmations/transactions/set-approval-for-all-revoke.test.tsx
  test/integration/confirmations/transactions/set-approval-for-all.test.tsx
  ui/pages/confirmations/components/simulation-details/simulation-details.tsx
  ui/pages/home/home.component.js
Labels: INVALID-PR-TEMPLATE, team-confirmations, size-M
